<h2>Questions:</h2>
<div class ="question-wrapper">
<% @questions.each do |question| %>
  <div class ="question-container">
    <a href ="/questions/<%= question.id %>"><p id="title"><%= question.title %></p></a>
    <p id ="q_votes">Votes: <%= question.votes %></p>
    <p><%= button_to 'Upvote', upvote_question_path(question.id), method: :put, :form => {:id => "upvote_button"} %>
      <%= button_to 'Downvote', downvote_question_path(question.id),
      method: :put, :form => {:id => "downvote_button"} %></p>
  </div>
<% end %>
</div>

<h2>Add a question</h2>
<%= form_for @question, :html => {:id => "new_question_form"} do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>



