<h2>Questions:</h2>
<% @questions.each do |question| %>
  <ul>
    <li><%= question.title %></li>
  </ul>
<% end %>

<%= form_for :question, url: questions_path do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>
