<h2>Questions:</h2>
<% @questions.each do |question| %>
  <ul>
    <li><a href="/questions/<%= question.id %>"><%= question.title %></a><p><%=  %>
    <%= button_to 'Upvote', upvote_question_path(question.id), method: :put %>
    <%= button_to 'Downvote', downvote_question_path(question.id), method: :put %> </li>
  </ul>
<% end %>

<h2>Add a question</h2>
<%= form_for @question do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>



