<div>
  <h3><%= @question.title %></h3>

  <p><%= @question.content %>
<%= button_to 'Delete', question_path(@question), method: :delete %>
<%= button_to 'Edit', edit_question_path(@question), method: :get %></p>
</div>

<div class = "answer-wrapper" >
  <% @answers.each do |answer| %>
  <div class ="answer-container">
    <p id="answer-title">Title: <%= answer.title %></p>
    <p id="answer-content">Content: <%= answer.content %></p>
    <p id="a_votes">Votes: <%= answer.votes %></p>
    <p><%= button_to 'Upvote', upvote_question_answer_path(@question,answer.id), method: :put, :form => {:id => "a_upvote_button"} %>
      <%= button_to 'Downvote', downvote_question_answer_path(@question, answer.id), method: :put, :form => {:id => "a_downvote_button"} %></p>
    <p><%= button_to 'Delete', question_answer_path(@question, answer.id), method: :delete, :form => {:id => "delete_button"} %>
   <%= button_to 'Edit', edit_question_answer_path(@question, answer.id), method: :get, :form => {:id => "edit_button"} %></p>
  </div>
  <% end %>
</div><br>


<div>
  <h2>Add answers</h2>
  <%= form_for [@question, @answer], :html => {:id => "new_answer_form"} do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :content %>
    <%= f.text_field :content %>
    <%= f.submit "Submit an answer" %>
  <% end %>
</div>

<p><%= button_to 'Back to Home Page', questions_path, method: :get %></p>
